body{
    background-color: white;
    display: grid;
    grid-template-areas:
    "header"
    "footer footer fotter";
    margin: auto;
}
header img{
    padding-bottom: 20px;
    float: left;
    display: block;

}
.background-img{
    /*Billed som bliver brugt som baggrund*/
    background-image: url("../templates/logoOnskegrisen.jpeg")
    position: relative;
}
.container{
    position: absolute;
    margin: 20px;
    width: auto;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.footer{
   position: absolute;
}
