<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskegrisen</title>
    <link rel="stylesheet" href="/static/home-page.css" th:href="@{/home-page.css}">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
</head>

<div class="wrapper">
<body>
<div class="container">

    <div class="topnav">
        <a href="/home" class="title-link">
            <h1 class="title">Ønskegrisen</h1>
        </a>
        <a href="/login">Log ind</a>
        <a href="/users/register">Opret bruger</a>
        <a href="https://x.com/KasperMadsen9">Find os på X</a>
        <a href="#about">Om</a>
    </div>


    <form action="home-page.html" class="form-container">
    </form>
</div>

<footer class="footer">
    Kontakt os <br>
    <a href="mailto:Ønske.grisen@gmail.com">Ønske.grisen@gmail.com</a><br>
    +45 10 20 30 40 <br>
    @ØnskeGrisen
</footer>

</body>

</div>

</html>