<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskegrisen</title>
    <link rel="stylesheet" href="landing-page.css">
    <!--<header id="pageHeader"> <img src="logoOnskegrisen.jpeg" alt="Ønskegrisen" height="200" width="200"></header>!-->
    <style>
        body{
            background-image: url("logoOnskegrisen.jpeg");
            background-attachment: fixed;
            background-position: center;
            cursor: pointer;
        }

        a{
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }
    </style>

</head>

<body>

<div class="background-img">
    <div class="container">
        <div class="topnav">
            <a href="#home">Hjem</a> <!--Tænker det her de forskellige endpoints kunne være    -->
            <a href="#news">Ønskeliste</a>
            <a href="#contact">Kontakt</a>
            <a href="#about">Om</a>
        </div>
    </div>
</div>
<div class="header">
    <form action="landing-page.html">
        <h1 style="color:white" align="center"> Ønskegrisen</h1>


        <!--<img align="top" src="logoOnskegrisen.jpeg" alt="Ønskegrisen" height="200" width="200">-->
    </form>
</div>
<article id="main article">
    <blockquote>
        <h1> Velkommen til Ønskegrisen</h1>
        <p>
            Din moderne ønskeliste i skyen, hvor du nemt kan dele med bekendte. Med vores løsning slipper DU for at få flere af de samme gaver og skal sende retur.
        </p>
    </blockquote>
</article>
<!--<footer id="pageFooter">Kontakt os <br> Ønske.grisen@gmail.com <br> +45 10 20 30 40 <br> @ØnskeGrisen </footer> -->
<div class="footer">
    <p>Kontakt os <br> Ønske.grisen@gmail.com <br> +45 10 20 30 40 <br> @ØnskeGrisen</p>
</div>
</body>
</html>